{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    </head>

    <body class="">
    <nav>
      <div>
        <div>
          <div>
            <div>
              <div class="flex">
                <img class="h-8 w-8" src="{% static 'myapp/images/img.png' %}" alt="logo">
                <span class="text-amber-300 text-6xl">Logo shop</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>


    <h1>This is index template </h1>
    <h2>
        {% for item in items %}
        <a href="{% url 'myapp:detail' item.id %}">
            ID: {{ item.id }} | Имя: {{ item.name }} | Цена: {{ item.price }} | Описание: {{ item.description }} <br/>
        </a>
        {% endfor %}

    </h2>
    </body>
</html>